<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cthatapp1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CThatApp1">
        <activity
            android:name=".DisplayEntry"
            android:exported="false" />
        <activity
            android:name=".SpecialInstructions"
            android:exported="false" />
        <activity
            android:name=".SpecialProvisions"
            android:exported="false" />
        <activity
            android:name=".Addenda2"
            android:exported="false" />
        <activity
            android:name=".Addenda"
            android:exported="false" />
        <activity
            android:name=".ProtectionPeriod"
            android:exported="false" />
        <activity
            android:name=".ServiceProviderFees"
            android:exported="false" />
        <activity
            android:name=".OtherFees"
            android:exported="false" />
        <activity
            android:name=".ConstructionFees"
            android:exported="false" />
        <activity
            android:name=".LeaseFees"
            android:exported="false" />
        <activity
            android:name=".SaleFees"
            android:exported="false" />
        <activity
            android:name=".IntemediaryStatus"
            android:exported="false" />
        <activity
            android:name=".IsThereClientRelationship"
            android:exported="false" />
        <activity
            android:name=".Intermediary"
            android:exported="false" />
        <activity
            android:name=".Representations"
            android:exported="false" />
        <activity
            android:name=".TermLength"
            android:exported="false" />
        <activity
            android:name=".GetMarketArea"
            android:exported="false" />
        <activity
            android:name=".DefineRelationshipToClient"
            android:exported="false" />
        <activity
            android:name=".RelationshipToClient"
            android:exported="false" />
        <activity
            android:name=".CollectBuyerAddress"
            android:exported="false" />
        <activity
            android:name=".CollectBuyer2Info"
            android:exported="false" />
        <activity
            android:name=".CollectBuyerInfo"
            android:exported="false" />
        <activity
            android:name=".CollectBrokerageInfo"
            android:exported="false" />
        <activity
            android:name=".CollectAgentInfo"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>